/* @font-face {
    font-family: myfont;
    font-weight: normal;
    src: url('AmericanTypewriter.ttc') format('ttc');
  } */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: myfont; */
}


body {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: #0b2a4a;
}

.site-header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vw;

    background-color: white;
  }

#logo {
    height: 10vw;
    width: 6vw;
    /* width: 10vw; */
    background-image: url("./assets/icons/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#menu-logo {
    width: 10vw;
    height: 5vw;
}

#menu-icons {
    display: flex;
    align-items: center;
    align-content: center;
}

#envelop {
    height: 10vw;
    width: 15vw;
    background-image: url("./assets/icons/envelop.svg");
    background-position: center;
    background-repeat: no-repeat;
}

section {
    margin-top: 15px;
}

.heading {
    text-align: center;
    margin-bottom: 10px;

    text-transform: uppercase;
}

#first-screen {
    height: 50vw;
    line-height: 50vw;

    margin-top: 0;
    /* background-image: url('./assets/photos/аппарель\ фото.png'), url('./assets/photos/Rectangle\ 2.png'); */
    background: bottom / cover url('./assets/photos/first-screen.png');
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

    
}

#h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 100%;
    /* height: 100%; */
    /* padding-top: 15%; */
    color: white;
    font-size: 18px;
    vertical-align: center;
    /* background: bottom / cover url('./assets/photos/Rectangle\ 2.png'); */
}

#about-us {
    margin: 2vw;

    border: 2px solid blue;
    border-radius: 4vw;
}

.scrollable-text {
    font-size: 20px;

    height: 30vw;
    overflow: scroll;

    padding: 2vw;
}

.contact-form {
    height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* align-content: center; */

    background: bottom / cover url('./assets/photos/contact-us.png');
}

.contact-form > input {
    height: 5vh;
    width: 80vw;
}

#comments {
    height: 20vh;
}

#address {

    height: 80vh;
    max-height: 1137px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#address > iframe {
    border: 1px inset gray;
    border-radius: 15px;
    /* box-shadow: inset 0px 0px 6.23px 0.77px rgba(0, 0, 0, 0.23); */

    margin-bottom: 10px;
      
}

.footer {
    background-color: #0b2a4a;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    min-height: 160px;
    padding-left: 32px;
}
